[Unit]
Description=Run PostgreSQL Backup every 3 days

[Timer]
# Запуск каждые 3 дня
OnBootSec=10min
OnUnitActiveSec=3d
AccuracySec=1h

[Install]
WantedBy=timers.target
