[Unit]
Description=PostgreSQL Backup Script
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=postgres
Group=postgres
WorkingDirectory=/opt/pg_backup
ExecStart=/opt/pg_backup/backup_pg.sh
# Не нужно писать стандартные выводы - journald сам справится
# StandardOutput=journal
# StandardError=journal
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
